@import '../../normalize.css';
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Dancing+Script');

.App {
  display: flex;
  flex-direction: column;
}

header {
  height: 8vh;
  display: flex;
  align-items: center;
  color: #F6ECCC;
  font-size: 3.3em;
  font-family: 'Dancing Script', cursive;
  padding: 1% 3%;
}

#show {
  color: #B4869F;
}

#divider {
  height: 10vh;
  width: 100%;
  background: #F6ECCC;
}

#pop-bumper-button {
  background: #F6ECCC;
  height: 31vh;
  width: 31vh;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 5%;
  outline: none;
}

/*#pop-bumper-button:hover {
  background: #B4869F;
}*/

#inner-oval {
  background: #F6ECCC;
  color: #191919;
  height: 19vh;
  width: 19vh;
  border: none;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  font-family: 'Comfortaa', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

#star-five {
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid #450601;
   border-left:   90px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
#star-five:before {
   border-bottom: 80px solid #450601;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -55px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five:after {
   position: absolute;
   display: block;
   color: #450601;
   top: 3px;
   left: -100px;
   width: 0px;
   height: 0px;
   border-right: 110px solid transparent;
   border-bottom: 60px solid #450601;
   border-left: 90px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five2 {
  position: absolute;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid #450601;
   border-left:   90px solid transparent;
   -moz-transform:    rotate(60deg);
   -webkit-transform: rotate(60deg);
   -ms-transform:     rotate(60deg);
   -o-transform:      rotate(60deg);
}
#star-five2:before {
   border-bottom: 80px solid #450601;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -55px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five2:after {
   position: absolute;
   display: block;
   color: #450601;
   top: 3px;
   left: -100px;
   width: 0px;
   height: 0px;
   border-right: 110px solid transparent;
   border-bottom: 60px solid #450601;
   border-left: 90px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#star-five3 {
  position: absolute;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid #450601;
   border-left:   90px solid transparent;
   -moz-transform:    rotate(80deg);
   -webkit-transform: rotate(80deg);
   -ms-transform:     rotate(80deg);
   -o-transform:      rotate(80deg);
}
#star-five3:before {
   border-bottom: 80px solid #450601;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -55px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five3:after {
   position: absolute;
   display: block;
   color: #450601;
   top: 3px;
   left: -100px;
   width: 0px;
   height: 0px;
   border-right: 110px solid transparent;
   border-bottom: 60px solid #450601;
   border-left: 90px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

#inspirational-quote {
  color: #F6ECCC;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 1.2em;
  padding-left: 20%;
  margin-top: -12%;
  margin-bottom: 10%;
}

.pink {
  color: #B4869F
}

.quote-marks {
  font-size: 1.3em;
}

#intro-message {
  color: #F6ECCC;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 2.5em;
  padding-left: 20%;
  margin-top: -4%;
  line-height: 1.5em;
  letter-spacing: 4px;
}

#locations-container {
  /*margin-left: 10%;*/
  margin-top: 2%;
  /*padding-left: 2%;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.location-name {
  width: 20%;
  color: #F6ECCC;
  font-family: 'Comfortaa', cursive;
  padding: 1px;
  text-align: center;
  cursor: pointer;
}

.location-name:hover {
  color: #B4869F;
}

#search-bar {
  width: 40%;
  background: #191919;
  border: none;
  border-bottom: 1px solid #B4869F;
  margin-left: 55%;
  font-family: 'Dancing Script', cursive;
  font-size: 1.3em;
  olor: #F6ECCC;
}
