@import '../../normalize.css';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

.App {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;

}

h2 {
  color: #C9077E;
}

#location-text {
  color: #FDFE28;
}
